.about-us {
  background-color: @white;
}

.about-us__title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 25px;
}

.about-us__list {
  .no-indents();
  list-style: none;
}

.about-us__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
  padding-top: 53px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: @black;
  }

  &--eco::before {
    top: 0;
    left: 0;
  }

  &--price::before {
    top: 0;
    left: 0;
  }

  &--likes::before {
    top: 0;
    left: 0;
  }

  &--handmade::before {
    top: 0;
    left: 0;
  }

  &--support::before {
    top: 0;
    left: 0;
  }

  &--gift::before {
    top: 0;
    left: 0;
  }
}

@media (min-width: @tablet-width) {
  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    column-count: 2;
  }

  .about-us__item {
    padding-top: 53px;
    width: 50%;
    font-size: 20px;
    line-height: 22px;
    break-inside: avoid;
  }
}

@media (min-width: @desktop-width) {
  .about-us__title {
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    padding: 0 175px;
  }
}
