.contacts {
  background-color: @white;
}

.contacts__title {
  .no-indents();
  font-weight: 700;
  font-size: 18px;
}

.contacts__list {
  .no-indents();
  margin-bottom: 10px;
  display: flex;

  &:not(:last-of-type) {
    padding-bottom: 30px;
  }
}

.contacts__attribute {
  .no-indents();
  width: 77px;
  color: @dark-grey;
}

.contacts__value {
  .no-indents();
  color: @dark-grey;
}

.contacts__value-link {
  padding-bottom: 4px;
  color: @dark-grey;
  border-bottom: 1px solid @light-green;
}

.contacts__map {
  height: 457px;
  border: none;
  background-color: @light-grey;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.contacts__write-us-link {
  margin-bottom: 10px;
}
