.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  margin-right: 30px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: @black;
}
