.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-weight: 700;
  background-color: transparent;
}

.navigation__logo {
  margin: 22px auto;
}

.navigation__toggle {
  display: none;
  position: absolute;
  top: 30px;
  left: calc(50% + 109px);
  margin: 0;
  padding: 0;
  width: 21px;
  height: 20px;
  font-size: 0;
  background-color: @black;
  border: 0;
  cursor: pointer;

  &--show {
    display: block;
  }
}

.navigation__list {
  .no-indents();
  list-style: none;
}

.navigation__item {
  min-height: 78px;
  display: flex;
  padding-left: calc(50% - 130px);
  align-items: center;
  border-top: 1px solid @line-grey;
}

.navigation__link {
  padding-left: 46px;
  font-size: 17px;
  line-height: 24px;
  color: @black;
}
