.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-weight: 700;
}

.navigation__logo {
  margin: 22px auto;
}

.navigation__toggle {
  display: none;
  position: absolute;
  top: 30px;
  left: calc(50% + 109px);
  margin: 0;
  padding: 0;
  width: 21px;
  height: 20px;
  font-size: 0;
  background-color: @black;
  border: 0;
  cursor: pointer;

  &--show {
    display: block;
  }
}

.navigation__list {
  .no-indents();
  list-style: none;
}

.navigation__item {
  display: flex;
  padding-left: calc(50% - 130px);
  align-items: center;
  min-height: 78px;
  border-top: 1px solid @line-grey;
}

.navigation__link {
  padding-left: 46px;
  font-size: 17px;
  line-height: 24px;
  color: @black;
}

.navigation__info {
  display: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: @black;
}

@media (min-width: @tablet-width) {
  .navigation {
    padding: 0 50px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 668px;
  }

  .navigation__logo {
    margin: 22px 0;
  }

  .navigation__item {
    .no-indents();
    display: flex;
    align-items: center;
    border-top: none;
  }

  .navigation__link {
    .no-indents();
  }

  .navigation__list--site {
    display: flex;
    order: 1;

    & .navigation__item {
      display: flex;
      align-items: flex-end;
      margin: 0 35px 0 auto;
      min-height: 40px;
      font-size: 15px;
    }

    & .navigation__link {
      font-size: 15px;
    }
  }

  .navigation__list--user {
    display: flex;
    margin-left: auto;

    & .navigation__item {
      border-left: 1px solid @line-grey;
    }

    & .navigation__link {
      padding-left: 83px;
    }

    & .navigation__link--search {
      font-size: 0;
    }
  }

  .navigation__info {
    .no-indents();
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    order: 2;
    margin-left: auto;
    min-height: 40px;
  }
}
