.page-footer {
  background-color: @grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 25px 0 22px;
  width: @mobile-width;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  width: 100%;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  margin: 25px 0 0;
  padding-top: 18px;
  width: 260px;
  border-top: 1px solid @dark-line-grey;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 55px 50px 50px;
    width: @tablet-width;
  }

  .page-footer__logo {
    display: flex;
    margin-top: -10px;
    width: 33%;
  }

  .page-footer__social {
    width: 33%;
  }

  .page-footer__copyright {
    .no-indents();
    justify-content: flex-end;
    width: 33%;
    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 55px calc(50% - 525px);
  }
}
