.page-main {
  border-top: 1px solid @line-grey;
}

.page-main__title {
  margin: 0;
  padding: 73px 0;
  font-weight: 700;
  font-size: 27px;
  text-align: center;
  background-color: @grey;
}

.page-main__popular-product,
.page-main__about-us,
.page-main__reviews,
.page-main__products {
  margin: 0 auto;
  padding: 30px;
  width: 260px;
}

.page-main__lead {
  margin: 0 auto;
  padding: 20px 30px;
  width: 260px;
  font-size: 13px;
  line-height: 24px;
  color: @dark-grey;
}

.page-main__manufacture,
.page-main__order-form {
  margin: 0 auto 60px;
  padding: 0;
  width: 260px;
}

@media (min-width: @tablet-width) {
  .page-main__popular-product,
  .page-main__about-us,
  .page-main__reviews,
  .page-main__products {
    margin: 0 auto;
    padding: 50px;
    width: 668px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__popular-product,
  .page-main__about-us,
  .page-main__reviews,
  .page-main__products {
    margin: 0 auto;
    padding: 50px;
    width: 1050px;
  }
}
