.products-sections {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  text-align: center;
  background-color: @light-grey;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -17px;
  background-size: 575px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.products-sections__title {
  .no-indents();
  margin-bottom: 123px;
  align-self: center;
  width: 260px;
  font-weight: 700;
  font-size: 27px;
}

.products-sections__list {
  .no-indents();
  list-style: none;
}

.products-sections__item {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: @dark-green;

  &:nth-child(2n) .products-sections__link {
    background-color: @dark-green;
  }
}

.products-sections__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 103px;
  line-height: 0;
  background-color: @light-green;
  overflow: hidden;

  &:hover,
  &:focus {
    transform: translateY(-5px);
    outline: none;

    & .products-sections__svg {
      opacity: 0.7;
    }
  }

  &:active {
    & .products-sections__text,
    & .products-sections__svg {
      opacity: 0.3;
    }
  }
}

.products-sections__text {
  display: block;
  margin: 0 70px 5px 0;
  width: 130px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @white;
}

.products-sections__svg {
  fill: @deep-dark-green;
  opacity: 0.5;
}

.products-sections__link--interior .products-sections__svg {
  margin: 5px 7px 0 12px;
  width: 41px;
  height: 63px;
}

.products-sections__link--toys .products-sections__svg {
  margin: 0 -3px 0 3px;
  width: 60px;
  height: 60px;
}

@media (min-width: @tablet-width) {
  .products-sections {
    position: relative;
    padding-top: 152px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 1150px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 23px;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='1150px' height='34px' viewBox='0 0 1150 34' enable-background='new 0 0 1150 34' xml:space='preserve'%3E%3Cpath fill='%23FFFFFF' d='M1121.252,0c-14.375,0-14.375,14-28.749,14s-14.374-14-28.748-14s-14.374,14-28.748,14 c-14.375,0-14.375-14-28.75-14c-14.374,0-14.374,14-28.748,14S963.135,0,948.761,0s-14.374,14-28.749,14S905.637,0,891.263,0 s-14.374,14-28.749,14s-14.375-14-28.75-14c-14.371,0-14.371,14-28.743,14c-14.375,0-14.375-14-28.75-14 c-14.372,0-14.372,14-28.744,14c-14.374,0-14.374-14-28.747-14s-14.373,14-28.747,14C675.66,14,675.66,0,661.287,0 c-14.374,0-14.374,14-28.748,14c-14.375,0-14.375-14-28.751-14c-14.374,0-14.374,14-28.748,14S560.666,0,546.292,0 s-14.374,14-28.748,14C503.17,14,503.17,0,488.796,0c-14.375,0-14.375,14-28.75,14C445.67,14,445.67,0,431.293,0 c-14.375,0-14.375,14-28.75,14c-14.375,0-14.375-14-28.751-14c-14.375,0-14.375,14-28.75,14S330.666,0,316.291,0 s-14.375,14-28.751,14c-14.376,0-14.376-14-28.753-14c-14.374,0-14.374,14-28.747,14c-14.375,0-14.375-14-28.75-14 c-14.375,0-14.375,14-28.751,14c-14.377,0-14.377-14-28.754-14c-14.377,0-14.377,14-28.755,14c-14.378,0-14.378-14-28.756-14 S71.896,14,57.518,14C43.139,14,43.139,0,28.759,0S14.38,14,0,14v20h1150V14C1135.626,14,1135.626,0,1121.252,0z'/%3E%3C/svg%3E%0A");
      background-repeat: repeat-x;
      background-position: 50% 0;
      background-size: contain;
      z-index: 1;
    }
  }

  .products-sections__title {
    margin-bottom: 374px;
    width: @tablet-width;
    font-size: 43px;
    line-height: 50px;
  }

  .products-sections__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    padding: 0 50px;
    width: @tablet-width;
  }

  .products-sections__item {
    flex-basis: 50%;
  }

  .products-sections__link {
    padding-bottom: 5px;
    height: 120px;
  }

  .products-sections__text {
    margin: 0 72px 0 0;
    font-size: 20px;
    line-height: 30px;
  }

  .products-sections__link--interior .products-sections__svg {
    margin: 5px 0 0 20px;
  }

  .products-sections__link--toys .products-sections__svg {
    margin: 5px 0 0 0;
  }
}

@media (min-width: @desktop-width) {
  .products-sections {
    padding-top: 155px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 1150px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }

    &::after {
      bottom: -19px;
      height: 37px;
      background-size: 1250px auto;
      z-index: 1;
    }
  }

  .products-sections__title {
    margin-bottom: 357px;
    width: @desktop-width;
    font-size: 53px;
    line-height: 57px;
  }

  .products-sections__list {
    width: @desktop-width;
  }

  .products-sections__text {
    margin: 0 260px 0 0;
    color: @white;
  }

  .products-sections__link--interior .products-sections__svg {
    margin: 5px 0 0 20px;
  }

  .products-sections__link--toys .products-sections__svg {
    margin: 5px 0 0 3px;
  }
}
