.products-sections {
  display: flex;
  flex-direction: column;
  min-height: 413px;
  padding-top: 75px;
  text-align: center;
  background-color: @light-grey;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -20px;
}

.products-sections__title {
  .no-indents();
  font-weight: 700;
  font-size: 27px;
}

.products-sections__list {
  .no-indents();
  margin-top: auto;
  list-style: none;
}

.products-sections__item {
  display: flex;
  align-items: stretch;
  min-height: 103px;
  text-align: left;
  background-color: @light-green;

  &:nth-child(2n) {
    background-color: @dark-green;
  }
}

.products-sections__link {
  display: flex;
  align-items: center;
  width: 100%;
  line-height: 0;
}

.products-sections__text {
  display: block;
  margin: 0 auto;
  padding-right: 130px;
  width: 130px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @white;
}
