.product-card {
  border: 1px solid @line-grey;
}

.product-card__picture {
  display: block;
  line-height: 0;
  overflow: hidden;
}

.product-card__img {
  background-color: @line-grey;
}

.product-card__inner {
  padding: 27px;
}

.product-card__link {
  color: @black;
}

.product-card__title {
  .no-indents();
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.product-card__desc {
  .no-indents();
  font-size: 13px;
  color: @dark-grey;
}

.product-card__price {
  display: flex;
  margin: 15px 0 0;
  padding-top: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  border-top: 1px solid @line-grey;
}

.product-card__add {
  margin-left: auto;
  width: 30px;
  height: 30px;
  line-height: 0;
  background-color: @black;
}

@media (min-width: @tablet-width) {
  .product-card {
    display: flex;
    box-sizing: border-box;
  }

  .product-card__picture {
    box-sizing: inherit;
    width: 333px;
    height: 333px;
  }

  .product-card__inner {
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
    width: 333px;
  }

  .product-card__title {
    font-size: 20px;
  }

  .product-card__desc {
    font-size: 15px;
  }

  .product-card__price {
    margin-top: auto;
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    flex-direction: column;
    width: 315px;
  }

  .product-card__picture {
    width: 315px;
    height: 463px;
  }

  .product-card__inner {
    width: 315px;
    min-height: 197px;
  }

  .product-card__price {
    margin-top: auto;
  }
}
