.product-card {
  border: 1px solid @line-grey;
}

.product-card__link {
  color: @black;
  &--img {
    line-height: 0;
  }
}

.product-card__img {
  display: block;
  background-color: @line-grey;
}

.product-card__inner {
  padding: 27px;
}

.product-card__title {
  .no-indents();
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.product-card__desc {
  .no-indents();
  font-size: 13px;
  color: @dark-grey;
}

.product-card__price {
  margin: 15px 0 0;
  padding-top: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  border-top: 1px solid @line-grey;
}

.product-card__add {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 0;
  vertical-align: middle;
  background-color: @black;
}
