.social {
  .no-indents();
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: @mobile-width;
}

.social__item {
  &:not(:last-child) {
    padding-right: 30px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 30px;
  height: 30px;
  outline: none;
}

.social__icon {
  margin-right: 5px;
  fill: @darkest-grey;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: @darkest-green;
}

.social__link:active .social__icon {
  fill: @darkest-green;
  opacity: 0.3;
}
