html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: @mobile-width;
  .no-indents();
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: @font-family;
  color: @black;
  background-color: @white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  .visually-hidden();
}
